# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtualenv
venv/
env/
*.egg-info/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
